.detournee{
  text-decoration: underline;
}
.contandante{
  font-weight: bold;
}

article h1, article h2, article h3 {
  color: red
}

aside ul ul{
  list-style-type: none
}

#armes{
  color: green;
}
#armes ul ul{
  color: blue;
}
h2 img, h3 img{
  height: 1em;
}
aside img{
  width: 20vw;
}